# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Vercel
.vercel

# Ignore raw backup files at the root level only
/*.jpg
/*.jpeg
/*.png
/*.mp4
